.site{
  background-image: url('../img/site/site-bg.jpg');
  background-size: cover;
}
.shadow{
  height: 100%;
  padding-top: 220px;
}
h3{
  font-weight: bold;
}
.menu{
  border: none;
  display: block;
  text-decoration: none;
}
.menu img{
  margin: 0 auto;
  width: 130px;
}

@media (min-width: 1200px) {
.shadow{
  height: 100%;
  padding-top: 17%;
}
}

a:hover{
  text-decoration: none;
  color: #000;
}
.buttons{
  margin-top: 25px;
}
.phone-buttons{
  margin-top: 25px;
}
.footer{
  margin-top: 4%;
} 
a{
  text-decoration: none;
  color: #000;
}
.white-color{
  color: #000;
}
.copyright{
  margin-top: 5px;
}

@media screen and (max-width: 768px){  
.site{
  background-image: url('../img/site/phone.jpg');
  background-size: cover;
}
.shadow{
  height: 100%;
  padding-top: 130px;
}
.menu img{
  margin: 0 auto;
  width: 85px;
}
.white-color{
  color: #000;
}
a{
  text-decoration: none;
  color: #000;
}
}